/*

This won't effect existing elements, only new ones created after it's
loaded.

*/

div.box {
  display: flex;
}

div.matrix {
  margin: 0em 2em;
}

div.graph {
  margin: 0em 2em;
}

.rendered_html pre code {
  background-color: #eff0f1;
}

.rendered_html pre {
  background-color: #eff0f1;
}

.rise-enabled {
  /*
  background-image: url("/notebooks/include/images/karate.png");
  */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 5% bottom 5%;
}

.links {
  stroke: grey;
  opacity: 0.8;
}

#bgdiv {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: none;
}

.tooltip {
  left: 0;
  top: 0;
  right: 100%;
  bottom: 100%;
  opacity: 0;
  padding: 5px;
}
