---
name: Annotate PR with trunk issues

on:
  workflow_run:
    workflows:
      - Pull Request
    types:
      - completed

permissions: read-all

jobs:
  trunk_check:
    name: Trunk Code Quality Annotate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          post-annotations: true # only for fork PRs
